body {
    overflow-anchor: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background{
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation: image forwards;animation-delay: 2s;
}

@keyframes image{
    to{
        background-image: url("ocean.jpg");/* Photo de Nicole Avagliano: https://www.pexels.com/fr-fr/photo/vagues-de-l-ocean-2236713/ */
    }
}

@keyframes taille{
    from{
        opacity: 0%;transform: scale(0)
    }
    to{
        opacity: 100%;transform: scale(1);
    }
}

.pprojects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects{
    height: 400px;width: 300px;
    background-color: #BFBFBF;
    border-radius: 21px;
    margin: 10px;padding-top: 21px;padding-bottom: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: taille 2s;animation-timing-function: cubic-bezier(.62,.16,.13,1.01);
}

.mmy_projects{
    margin: 10px;padding: 21px;
    width: 200px;height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;border-color: #00000000;border-width: 0.5em;
    margin: 1em;padding: 10px;
    border-radius: 21px;
    &:hover{
        transition: all 1s;
        border-color: #048500;
    }
    &:not(hover){
        transition: all 0.5s;
        border-color: #04850000;
    }
}

.my_projects{
    padding: 0px;margin: 0px;
    width: 180px;height: 180px;
    border-radius: 21px;
    animation: taille 2s;animation-delay: 1s;animation-timing-function: cubic-bezier(.62,.16,.13,1.01);animation-fill-mode: backwards;
}

.h1{
    font-size: xx-large;
}

.my_projects_text{
    text-align: center;
    padding: 0px;margin: 0px;
    color: black;font-size: x-large;
    animation: taille 2s;animation-delay: 1.25s;animation-timing-function: cubic-bezier(.62,.16,.13,1.01);animation-fill-mode: backwards;
}

.link{
    margin: 1em;padding: 10px;
    border-radius: 21px;
    background-color: #bfbfbf;
    box-shadow: -5px -5px 15px #ffffff,5px 5px 15px #00000085;
    text-decoration: none;
    &:hover{
        transition: all .2s ease-in-out;
        box-shadow: -3px -3px 9px #ffffff,3px 3px 9px #00000085;
    }
    &:not(hover){
        transition: all .2s ease-in-out;
        box-shadow: -5px -5px 15px #ffffff,5px 5px 15px #00000085;
    }
}

.box_row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 300px;
    background-color: #BFBFBF;
    border-radius: 21px;
    margin: 10px;padding-top: 21px;padding-bottom: 21px;
    animation: taille 2s;animation-timing-function: cubic-bezier(.62,.16,.13,1.01);
}

